.container {
  grid-column: span 2;
  display: grid;
}

.main_grid {
  display: grid;
  grid-template-columns: 70px 1fr;
  margin-bottom: 20px;
}
.content {
  grid-column: 2/3;
  padding: 30px;
  background-color: var(--softBg);
  border-radius: 32px;
}
